
  /*
  * Project 2- Web App
  * author: Dora Tomljenovic
  * ISTE.252.800
  * instructor: Domagoj Tolic
  */
  
  main {
    width: 80vw;
    margin: 0 auto;
  }
  img {
    width: 100%;
    box-shadow: 5px 5px 10px grey;
    border: 1px solid black;
  }

  main {
    padding: 1em;
  }
  
  p {
  color: black;
  font-size: 20pt;
  
  }

  h3{
    font-weight: bold;
    font-size: 35pt;
  }
/* list */
  li.item { 
  border: 1px solid black;
  padding: 1em;
  width: 90%;
  list-style-type: none;
  margin: 1em auto 0;
  text-align: center;
}
li.item img {
	padding: 1em;
	max-width: 100%;
}

.small{

  width: 50%;;
}

/* https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
/* NAVIGATION */
.topnav {
  overflow: hidden;
  background-color: #585F6F;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}